body{
  font-family:didot, Georgia;
  font-style:normal;
  margin:0px;
  background:#DBDCCB;
  color:#3D3935;
}

#container{
  width:920px;
  margin:auto;
}

h2{margin:0; padding:0; font-weight:normal; font-variant:small-caps;}

em{font-style:normal;}

ol, ul, li {
  list-style: none;
  margin:0px; 
  padding:0px;
}

a{
  color:#941A42;
  text-decoration:none;
  font-style:italic;
}

.review_list{
  max-width:526px;
  margin:auto;
}

.review{
  padding-left :20px;
  position:relative;
  min-height:130px;
  margin-bottom:40px;
  text-align:justify;
}

.review ul{
  padding:0 0 0 125px;
  min-height:150px;
}

.review.odd{

}

.review.even{
/*  border-left:5px solid #B8D0D2;
  background:#DCF9FC;
*/}

.title_artist{
  padding-left:30px;
  padding-bottom:10px;
  text-align:left;
}

.review_summary{
  font-size:14px;
  line-height:20px;
  padding-left:30px;
}

.rating{
/*  color:#79E0E6;*/
  font-style:italic;
  color:#941A42;
}

.odd .rating{
/*  color:#D200B6;*/
}

.page_list {
  max-width:526px;
  margin:auto;
  text-align:center;
  font-size:14px;
}

.page_list a, .page_list span{
  padding-left:4px;
  text-decoration:none;
  float:left;
  display:block;
}

.album_art {
  position:absolute;
  top:0px;
  left:0px;
  border:5px solid #fff;
}

#greatest .album_art{
  height:75px;
}

#greatest .review ul{
  min-height:100px;
  padding:0 0 0 65px;
}

#greatest li.review{
  margin-bottom:20px;
  min-height:100px;
}

#latest {
  padding:20px;
  float:left;
}

#greatest {
  width:310px;
  padding:20px;
  float:left;
}